.input__label {
  position: absolute;
  height: 100%;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  transition: padding-top 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.focused {
  font-size: 0.75rem;
  color: var(--blue-500);
  z-index: 0;
  padding-top: 0.5rem;
}

.unfocused {
  font-size: 1.25rem;
  color: #666;
  z-index: 1;
  padding-top: 1rem;
}

.invalid {
  color: var(--red-500);
}

.disabled {
  color: rgba(83, 100, 113, 1);
}
