.text-font-size-xs {
  font-size: var(--font-xs);
}
.text-font-size-sm {
  font-size: var(--font-sm);
}
.text-font-size-md {
  font-size: var(--font-md);
}
.text-font-size-lg {
  font-size: var(--font-lg);
}
.text-font-size-xl {
  font-size: var(--font-xl);
}

/* font-weight */

.font-weight-light {
  font-weight: var(--font-weight-light);
}

.font-weight-normal {
  font-weight: var(--font-weight-normal);
}

.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-semibold {
  font-weight: var(--font-weight-semibold);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

/* icon size */

.icon-size-xs {
  font-size: var(--font-xs);
  width: var(--icon-height-xs);
  height: var(--icon-height-xs);
}

.icon-size-sm {
  font-size: var(--font-sm);
  width: var(--icon-height-sm);
  height: var(--icon-height-sm);
}

.icon-size-md {
  font-size: var(--font-md);
  width: var(--icon-height-md);
  height: var(--icon-height-md);
}

.icon-size-lg {
  font-size: var(--font-lg);
  width: var(--icon-height-lg);
  height: var(--icon-height-lg);
}

.icon-size-xl {
  font-size: var(--font-xl);
  width: var(--icon-height-xl);
  height: var(--icon-height-xl);
}

.button-size-xs {
  font-size: var(--font-xs);
  padding: 0 var(--button-padding-xs);
  height: var(--button-height-xs);
}

.button-size-sm {
  font-size: var(--font-sm);
  padding: 0 var(--button-padding-sm);
  height: var(--button-height-sm);
}

.button-size-md {
  font-size: var(--font-md);
  padding: 0 var(--button-padding-md);
  height: var(--button-height-md);
}

.button-size-lg {
  font-size: var(--font-lg);
  padding: 0 var(--button-padding-lg);
  height: var(--button-height-lg);
}

.button-size-xl {
  font-size: var(--font-xl);
  padding: 0 var(--button-padding-xl);
  height: var(--button-height-xl);
}

.rounded-none {
  border-radius: var(--rounded-none);
}

.rounded-xs {
  border-radius: var(--rounded-xs);
}

.rounded-sm {
  border-radius: var(--rounded-sm);
}

.rounded-md {
  border-radius: var(--rounded-md);
}

.rounded-lg {
  border-radius: var(--rounded-lg);
}

.rounded-xl {
  border-radius: var(--rounded-xl);
}

.rounded-full {
  border-radius: var(--rounded-full);
}

.text-gray {
  color: var(--gray-500);
}

.text-red {
  color: var(--red-500);
}

.text-green {
  color: var(--green-500);
}

.text-blue {
  color: var(--blue-500);
}

.text-teal {
  color: var(--teal-500);
}

.text-pink {
  color: var(--pink-500);
}

.text-purple {
  color: var(--purple-500);
}

.text-cyan {
  color: var(--cyan-500);
}

.text-orange {
  color: var(--orange-500);
}

.text-yellow {
  color: var(--yellow-500);
}

.gray-solid {
  color: var(--white-000);
  background-color: var(--gray-500);
}

.gray-solid:not(span):not(.gray-disabled):hover,
.gray-solid:not(span):not(.gray-pink-disabled):focus-visible {
  background-color: var(--gray-400);
}

.gray-subtle {
  color: var(--gray-500);
  background-color: var(--gray-100);
}

.gray-subtle:not(span):not(.gray-disabled):hover,
.gray-subtle:not(span):not(.gray-pink-disabled):focus-visible {
  background-color: var(--gray-200);
}

.gray-surface {
  color: var(--gray-500);
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
}

.gray-surface:not(span):not(.gray-disabled):hover,
.gray-surface:not(span):not(.gray-pink-disabled):focus-visible {
  background-color: var(--gray-200);
}

.gray-outline {
  color: var(--gray-500);
  border: 1px solid var(--gray-300);
}

.gray-outline:not(span):not(.gray-disabled):hover,
.gray-outline:not(span):not(.gray-pink-disabled):focus-visible {
  background-color: var(--gray-100);
}

.gray-ghost {
  color: var(--gray-500);
}

.gray-ghost:not(span):not(.gray-disabled):hover,
.gray-ghost:not(span):not(.gray-pink-disabled):focus-visible {
  background-color: var(--gray-100);
}

.gray-plain {
  color: var(--gray-500);
}

/* red */
.red-solid {
  color: var(--white-000);
  background-color: var(--red-500);
}

.red-solid:not(span):not(.red-disabled):hover,
.red-solid:not(span):not(.red-pink-disabled):focus-visible {
  background-color: var(--red-400);
}

.red-subtle {
  color: var(--red-500);
  background-color: var(--red-100);
}

.red-subtle:not(span):not(.red-disabled):hover,
.red-subtle:not(span):not(.red-pink-disabled):focus-visible {
  background-color: var(--red-200);
}

.red-surface {
  color: var(--red-500);
  background-color: var(--red-100);
  border: 1px solid var(--red-300);
}

.red-surface:not(span):not(.red-disabled):hover,
.red-surface:not(span):not(.red-pink-disabled):focus-visible {
  background-color: var(--red-200);
}

.red-outline {
  color: var(--red-500);
  border: 1px solid var(--red-300);
}

.red-outline:not(span):not(.red-disabled):hover,
.red-outline:not(span):not(.red-pink-disabled):focus-visible {
  background-color: var(--red-100);
}

.red-ghost {
  color: var(--red-500);
}

.red-ghost:not(span):not(.red-disabled):hover,
.red-ghost:not(span):not(.red-pink-disabled):focus-visible {
  background-color: var(--red-100);
}

.red-plain {
  color: var(--red-500);
}

/* green */
.green-solid {
  color: var(--white-000);
  background-color: var(--green-500);
}

.green-solid:not(span):not(.green-disabled):hover,
.green-solid:not(span):not(.green-pink-disabled):focus-visible {
  background-color: var(--green-400);
}

.green-subtle {
  color: var(--green-500);
  background-color: var(--green-100);
}

.green-subtle:not(span):not(.green-disabled):hover,
.green-subtle:not(span):not(.green-pink-disabled):focus-visible {
  background-color: var(--green-200);
}

.green-surface {
  color: var(--green-500);
  background-color: var(--green-100);
  border: 1px solid var(--green-300);
}

.green-surface:not(span):not(.green-disabled):hover,
.green-surface:not(span):not(.green-pink-disabled):focus-visible {
  background-color: var(--green-200);
}

.green-outline {
  color: var(--green-500);
  border: 1px solid var(--green-300);
}

.green-outline:not(span):not(.green-disabled):hover,
.green-outline:not(span):not(.green-pink-disabled):focus-visible {
  background-color: var(--green-100);
}

.green-ghost {
  color: var(--green-500);
}

.green-ghost:not(span):not(.green-disabled):hover,
.green-ghost:not(span):not(.green-pink-disabled):focus-visible {
  background-color: var(--green-100);
}

.green-plain {
  color: var(--green-500);
}

/* blue */
.blue-solid {
  color: var(--white-000);
  background-color: var(--blue-500);
}

.blue-solid:not(span):not(.blue-disabled):hover,
.blue-solid:not(span):not(.blue-pink-disabled):focus-visible {
  background-color: var(--blue-400);
}

.blue-subtle {
  color: var(--blue-500);
  background-color: var(--blue-100);
}

.blue-subtle:not(span):not(.blue-disabled):hover,
.blue-subtle:not(span):not(.blue-pink-disabled):focus-visible {
  background-color: var(--blue-200);
}

.blue-surface {
  color: var(--blue-500);
  background-color: var(--blue-100);
  border: 1px solid var(--blue-300);
}

.blue-surface:not(span):not(.blue-disabled):hover,
.blue-surface:not(span):not(.blue-pink-disabled):focus-visible {
  background-color: var(--blue-200);
}

.blue-outline {
  color: var(--blue-500);
  border: 1px solid var(--blue-300);
}

.blue-outline:not(span):not(.blue-disabled):hover,
.blue-outline:not(span):not(.blue-pink-disabled):focus-visible {
  background-color: var(--blue-100);
}

.blue-ghost {
  color: var(--blue-500);
}

.blue-ghost:not(span):not(.blue-disabled):hover,
.blue-ghost:not(span):not(.blue-pink-disabled):focus-visible {
  background-color: var(--blue-100);
}

.blue-plain {
  color: var(--blue-500);
}

/* teal */
.teal-solid {
  color: var(--white-000);
  background-color: var(--teal-500);
}

.teal-solid:not(span):not(.teal-disabled):hover,
.teal-solid:not(span):not(.teal-pink-disabled):focus-visible {
  background-color: var(--teal-400);
}

.teal-subtle {
  color: var(--teal-500);
  background-color: var(--teal-100);
}

.teal-subtle:not(span):not(.teal-disabled):hover,
.teal-subtle:not(span):not(.teal-pink-disabled):focus-visible {
  background-color: var(--teal-200);
}

.teal-surface {
  color: var(--teal-500);
  background-color: var(--teal-100);
  border: 1px solid var(--teal-300);
}

.teal-surface:not(span):not(.teal-disabled):hover,
.teal-surface:not(span):not(.teal-pink-disabled):focus-visible {
  background-color: var(--teal-200);
}

.teal-outline {
  color: var(--teal-500);
  border: 1px solid var(--teal-300);
}
teal- .teal-outline:not(span):not(.teal-disabled):hover,
.teal-outline:not(span):not(.teal-pink-disabled):focus-visible {
  background-color: var(--teal-100);
}

.teal-ghost {
  color: var(--teal-500);
}

.teal-ghost:not(span):not(.teal-disabled):hover,
.teal-ghost:not(span):not(.teal-pink-disabled):focus-visible {
  background-color: var(--teal-100);
}

.teal-plain {
  color: var(--teal-500);
}

/* pink */
.pink-solid {
  color: var(--white-000);
  background-color: var(--pink-500);
}

.pink-solid:not(span):not(.pink-disabled):hover,
.pink-solid:not(span):not(.pink-disabled):focus-visible {
  background-color: var(--pink-400);
}

.pink-subtle {
  color: var(--pink-500);
  background-color: var(--pink-100);
}

.pink-subtle:not(span):not(.pink-disabled):hover,
.pink-subtle:not(span):not(.pink-disabled):focus-visible {
  background-color: var(--pink-200);
}

.pink-surface {
  color: var(--pink-500);
  background-color: var(--pink-100);
  border: 1px solid var(--pink-300);
}

.pink-surface:not(span):not(.pink-disabled):hover,
.pink-surface:not(span):not(.pink-disabled):focus-visible {
  background-color: var(--pink-200);
}

.pink-outline {
  color: var(--pink-500);
  border: 1px solid var(--pink-300);
}

.pink-outline:not(span):not(.pink-disabled):hover,
.pink-outline:not(span):not(.pink-disabled):focus-visible {
  background-color: var(--pink-100);
}

.pink-ghost {
  color: var(--pink-500);
}

.pink-ghost:not(span):not(.pink-disabled):hover,
.pink-ghost:not(span):not(.pink-disabled):focus-visible {
  background-color: var(--pink-100);
}

.pink-plain {
  color: var(--pink-500);
}

/* purple */
.purple-solid {
  color: var(--white-000);
  background-color: var(--purple-500);
}

.purple-solid:not(span):not(.purple-disabled):hover,
.purple-solid:not(span):not(.purple-disabled):focus-visible {
  background-color: var(--purple-400);
}

.purple-subtle {
  color: var(--purple-500);
  background-color: var(--purple-100);
}

.purple-subtle:not(span):not(.purple-disabled):hover,
.purple-subtle:not(span):not(.purple-disabled):focus-visible {
  background-color: var(--purple-200);
}

.purple-surface {
  color: var(--purple-500);
  background-color: var(--purple-100);
  border: 1px solid var(--purple-300);
}

.purple-surface:not(span):not(.purple-disabled):hover,
.purple-surface:not(span):not(.purple-disabled):focus-visible {
  background-color: var(--purple-200);
}

.purple-outline {
  color: var(--purple-500);
  border: 1px solid var(--purple-300);
}

.purple-outline:not(span):not(.purple-disabled):hover,
.purple-outline:not(span):not(.purple-disabled):focus-visible {
  background-color: var(--purple-100);
}

.purple-ghost {
  color: var(--purple-500);
}

.purple-ghost:not(span):not(.purple-disabled):hover,
.purple-ghost:not(span):not(.purple-disabled):focus-visible {
  background-color: var(--purple-100);
}

.purple-plain {
  color: var(--purple-500);
}

/* cyan */
.cyan-solid {
  color: var(--white-000);
  background-color: var(--cyan-500);
}

.cyan-solid:not(span):not(.cyan-disabled):hover,
.cyan-solid:not(span):not(.cyan-disabled):focus-visible {
  background-color: var(--cyan-400);
}

.cyan-subtle {
  color: var(--cyan-500);
  background-color: var(--cyan-100);
}

.cyan-subtle:not(span):not(.cyan-disabled):hover,
.cyan-subtle:not(span):not(.cyan-disabled):focus-visible {
  background-color: var(--cyan-200);
}

.cyan-surface {
  color: var(--cyan-500);
  background-color: var(--cyan-100);
  border: 1px solid var(--cyan-300);
}

.cyan-surface:not(span):not(.cyan-disabled):hover,
.cyan-surface:not(span):not(.cyan-disabled):focus-visible {
  background-color: var(--cyan-200);
}

.cyan-outline {
  color: var(--cyan-500);
  border: 1px solid var(--cyan-300);
}

.cyan-outline:not(span):not(.cyan-disabled):hover,
.cyan-outline:not(span):not(.cyan-disabled):focus-visible {
  background-color: var(--cyan-100);
}

.cyan-ghost {
  color: var(--cyan-500);
}

.cyan-ghost:not(span):not(.cyan-disabled):hover,
.cyan-ghost:not(span):not(.cyan-disabled):focus-visible {
  background-color: var(--cyan-100);
}

.cyan-plain {
  color: var(--cyan-500);
}

/* orange */
.orange-solid {
  color: var(--white-000);
  background-color: var(--orange-500);
}

.orange-solid:not(span):not(.orange-disabled):hover,
.orange-solid:not(span):not(.orange-disabled):focus-visible {
  background-color: var(--orange-400);
}

.orange-subtle {
  color: var(--orange-500);
  background-color: var(--orange-100);
}

.orange-subtle:not(span):not(.orange-disabled):hover,
.orange-subtle:not(span):not(.orange-disabled):focus-visible {
  background-color: var(--orange-200);
}

.orange-surface {
  color: var(--orange-500);
  background-color: var(--orange-100);
  border: 1px solid var(--orange-300);
}

.orange-surface:not(span):not(.orange-disabled):hover,
.orange-surface:not(span):not(.orange-disabled):focus-visible {
  background-color: var(--orange-200);
}

.orange-outline {
  color: var(--orange-500);
  border: 1px solid var(--orange-300);
}

.orange-outline:not(span):not(.orange-disabled):hover,
.orange-outline:not(span):not(.orange-disabled):focus-visible {
  background-color: var(--orange-100);
}

.orange-ghost {
  color: var(--orange-500);
}

.orange-ghost:not(span):not(.orange-disabled):hover,
.orange-ghost:not(span):not(.orange-disabled):focus-visible {
  background-color: var(--orange-100);
}

.orange-plain {
  color: var(--orange-500);
}

/* yellow */
.yellow-solid {
  color: var(--white-000);
  background-color: var(--yellow-500);
}

.yellow-solid:not(span):not(.yellow-disabled):hover,
.yellow-solid:not(span):not(.yellow-disabled):focus-visible {
  background-color: var(--yellow-400);
}

.yellow-subtle {
  color: var(--yellow-500);
  background-color: var(--yellow-100);
}

.yellow-subtle:not(span):not(.yellow-disabled):hover,
.yellow-subtle:not(span):not(.yellow-disabled):focus-visible {
  background-color: var(--yellow-200);
}

.yellow-surface {
  color: var(--yellow-500);
  background-color: var(--yellow-100);
  border: 1px solid var(--yellow-300);
}

.yellow-surface:not(span):not(.yellow-disabled):hover,
.yellow-surface:not(span):not(.yellow-disabled):focus-visible {
  background-color: var(--yellow-200);
}

.yellow-outline {
  color: var(--yellow-500);
  border: 1px solid var(--yellow-300);
}

.yellow-outline:not(span):not(.yellow-disabled):hover,
.yellow-outline:not(span):not(.yellow-disabled):focus-visible {
  background-color: var(--yellow-100);
}

.yellow-ghost {
  color: var(--yellow-500);
}

.yellow-ghost:not(span):not(.yellow-disabled):hover,
.yellow-ghost:not(span):not(.yellow-disabled):focus-visible {
  background-color: var(--yellow-100);
}

.yellow-plain {
  color: var(--yellow-500);
}

.gray-disabled {
  background-color: var(--gray-150);
  cursor: not-allowed;
}

.red-disabled {
  background-color: var(--red-150);
  cursor: not-allowed;
}

.green-disabled {
  background-color: var(--green-150);
  cursor: not-allowed;
}

.blue-disabled {
  background-color: var(--blue-150);
  cursor: not-allowed;
}

.teal-disabled {
  background-color: var(--teal-150);
  cursor: not-allowed;
}

.pink-disabled {
  background-color: var(--pink-150);
  cursor: not-allowed;
}

.purple-disabled {
  background-color: var(--purple-150);
  cursor: not-allowed;
}

.cyan-disabled {
  background-color: var(--cyan-150);
  cursor: not-allowed;
}

.orange-disabled {
  background-color: var(--orange-150);
  cursor: not-allowed;
}

.yellow-disabled {
  background-color: var(--yellow-150);
  cursor: not-allowed;
}
